@import 'src/styles/elevation';
@import 'src/styles/typography';

@mixin elevationDiv() {
  width: 72px;
  height: 72px;
  border-radius: 50%;
}

.elevation {
  &-top {
    &-100 {
      @include elevationDiv;
      @include elevation(top, 100);
    }
    &-200 {
      @include elevationDiv;
      @include elevation(top, 200);
    }
    &-300 {
      @include elevationDiv;
      @include elevation(top, 300);
    }
    &-400 {
      @include elevationDiv;
      @include elevation(top, 400);
    }
  }
  &-bottom {
    &-100 {
      @include elevationDiv;
      @include elevation(bottom, 100);
    }
    &-200 {
      @include elevationDiv;
      @include elevation(bottom, 200);
    }
    &-300 {
      @include elevationDiv;
      @include elevation(bottom, 300);
    }
    &-400 {
      @include elevationDiv;
      @include elevation(bottom, 400);
    }
  }
  width: 72px;
  height: 72px;
  border-radius: 50%;
}
