$color-transparent: rgba(0, 0, 0, 0);

//cool-grey
$color-cool-grey--4: #1b242c;
$color-cool-grey--3: #272e35;
$color-cool-grey--2: #3a424a;
$color-cool-grey--1: #4a545e;
$color-cool-grey-0: #555f6d;
$color-cool-grey-1: #7e8b99;
$color-cool-grey-2: #9ea8b3;
$color-cool-grey-3: #cfd6dd;
$color-cool-grey-4: #dee3e7;
$color-cool-grey-5: #e9ecef;
$color-cool-grey-6: #f0f3f5;
$color-cool-grey-7: #f5f7f9;
$color-cool-grey-8: #fbfcfd;

//cool-grey-alpha
$color-cool-grey-alpha--4: rgba(10, 20, 28, 0.93);
$color-cool-grey-alpha--3: rgba(10, 18, 25, 0.88);
$color-cool-grey-alpha--2: rgba(26, 35, 45, 0.86);
$color-cool-grey-alpha--1: rgba(29, 41, 54, 0.8);
$color-cool-grey-alpha-0: rgba(25, 39, 58, 0.74);
$color-cool-grey-alpha-1: rgba(24, 48, 72, 0.56);
$color-cool-grey-alpha-2: rgba(13, 38, 64, 0.4);
$color-cool-grey-alpha-3: rgba(16, 48, 84, 0.2);
$color-cool-grey-alpha-4: rgba(4, 41, 68, 0.13);
$color-cool-grey-alpha-5: rgba(16, 40, 72, 0.09);
$color-cool-grey-alpha-6: rgba(2, 47, 82, 0.06);
$color-cool-grey-alpha-7: rgba(0, 43, 94, 0.04);
$color-cool-grey-alpha-8: rgba(31, 82, 158, 0.02);

//neutral-grey
$color-neutral-grey--4: #222222;
$color-neutral-grey--3: #2d2d2d;
$color-neutral-grey--2: #404040;
$color-neutral-grey--1: #525252;
$color-neutral-grey-0: #5e5e5e;
$color-neutral-grey-1: #898989;
$color-neutral-grey-2: #a6a6a6;
$color-neutral-grey-3: #d5d5d5;
$color-neutral-grey-4: #e2e2e2;
$color-neutral-grey-5: #ebebeb;
$color-neutral-grey-6: #f2f2f2;
$color-neutral-grey-7: #f7f7f7;
$color-neutral-grey-8: #fcfcfc;

//neutral-grey-alpha
$color-neutral-grey-alpha--4: rgba(17, 17, 17, 0.93);
$color-neutral-grey-alpha--3: rgba(16, 16, 16, 0.88);
$color-neutral-grey-alpha--2: rgba(33, 33, 33, 0.86);
$color-neutral-grey-alpha--1: rgba(38, 38, 38, 0.8);
$color-neutral-grey-alpha-0: rgba(37, 37, 38, 0.74);
$color-neutral-grey-alpha-1: rgba(44, 44, 44, 0.56);
$color-neutral-grey-alpha-2: rgba(32, 32, 32, 0.4);
$color-neutral-grey-alpha-3: rgba(46, 46, 46, 0.2);
$color-neutral-grey-alpha-4: rgba(31, 31, 31, 0.13);
$color-neutral-grey-alpha-5: rgba(28, 28, 28, 0.09);
$color-neutral-grey-alpha-6: rgba(32, 32, 32, 0.06);
$color-neutral-grey-alpha-7: rgba(46, 46, 46, 0.04);
$color-neutral-grey-alpha-8: rgba(82, 82, 82, 0.02);

//warm-grey
$color-warm-grey--4: #232321;
$color-warm-grey--3: #2f2f2b;
$color-warm-grey--2: #40403a;
$color-warm-grey--1: #52524c;
$color-warm-grey-0: #5f5f58;
$color-warm-grey-1: #8b8b84;
$color-warm-grey-2: #a8a89f;
$color-warm-grey-3: #d8d8d2;
$color-warm-grey-4: #e4e4e0;
$color-warm-grey-5: #eaeae6;
$color-warm-grey-6: #f3f3f1;
$color-warm-grey-7: #f7f7f7;
$color-warm-grey-8: #fcfcfc;

//warm-grey-alpha
$color-warm-grey-alpha--4: rgba(18, 18, 16, 0.93);
$color-warm-grey-alpha--3: rgba(19, 19, 14, 0.88);
$color-warm-grey-alpha--2: rgba(33, 33, 26, 0.86);
$color-warm-grey-alpha--1: rgba(39, 39, 32, 0.8);
$color-warm-grey-alpha-0: rgba(39, 39, 29, 0.74);
$color-warm-grey-alpha-1: rgba(47, 47, 35, 0.56);
$color-warm-grey-alpha-2: rgba(38, 38, 16, 0.4);
$color-warm-grey-alpha-3: rgba(62, 62, 29, 0.2);
$color-warm-grey-alpha-4: rgba(50, 50, 20, 0.13);
$color-warm-grey-alpha-5: rgba(34, 34, 2, 0.09);
$color-warm-grey-alpha-6: rgba(47, 47, 14, 0.06);
$color-warm-grey-alpha-7: rgba(47, 47, 44, 0.04);
$color-warm-grey-alpha-8: rgba(82, 82, 82, 0.02);

//white-alpha
$color-white-alpha--12: rgba(255, 255, 255, 0.02);
$color-white-alpha--11: rgba(255, 255, 255, 0.03);
$color-white-alpha--10: rgba(255, 255, 255, 0.05);
$color-white-alpha--9: rgba(255, 255, 255, 0.08);
$color-white-alpha--8: rgba(255, 255, 255, 0.1);
$color-white-alpha--7: rgba(255, 255, 255, 0.12);
$color-white-alpha--6: rgba(255, 255, 255, 0.24);
$color-white-alpha--5: rgba(255, 255, 255, 0.4);
$color-white-alpha--4: rgba(255, 255, 255, 0.64);
$color-white-alpha--3: rgba(255, 255, 255, 0.68);
$color-white-alpha--2: rgba(255, 255, 255, 0.72);
$color-white-alpha--1: rgba(255, 255, 255, 0.82);
$color-white-alpha-0: rgba(255, 255, 255, 1);

//red
$color-red--4: #4a0d0d;
$color-red--3: #6f2020;
$color-red--2: #952d2d;
$color-red--1: #a13636;
$color-red-0: #c53434;
$color-red-1: #f26464;
$color-red-2: #f49090;
$color-red-3: #fccfcf;
$color-red-4: #fcd9d9;
$color-red-5: #fee6e6;
$color-red-6: #ffebeb;
$color-red-7: #fef5f5;
$color-red-8: #fffafa;

//raspberry
$color-raspberry--4: #450c1f;
$color-raspberry--3: #671e36;
$color-raspberry--2: #912b4d;
$color-raspberry--1: #9d3457;
$color-raspberry-0: #c03060;
$color-raspberry-1: #e4628d;
$color-raspberry-2: #ec8dad;
$color-raspberry-3: #f8cedc;
$color-raspberry-4: #fbd5e2;
$color-raspberry-5: #fde3eb;
$color-raspberry-6: #fdedf2;
$color-raspberry-7: #fef5f8;
$color-raspberry-8: #fffafc;

//magenta
$color-magenta--4: #410b2f;
$color-magenta--3: #671e4e;
$color-magenta--2: #892969;
$color-magenta--1: #953274;
$color-magenta-0: #b12f86;
$color-magenta-1: #de5eb3;
$color-magenta-2: #ec89cb;
$color-magenta-3: #f7cae8;
$color-magenta-4: #fbd5ee;
$color-magenta-5: #fde3f4;
$color-magenta-6: #fdedf8;
$color-magenta-7: #fef5fb;
$color-magenta-8: #fffafd;

//purple
$color-purple--4: #410b2f;
$color-purple--3: #5b1e67;
$color-purple--2: #792989;
$color-purple--1: #853295;
$color-purple-0: #9939ac;
$color-purple-1: #c466db;
$color-purple-2: #d98dec;
$color-purple-3: #f4caf7;
$color-purple-4: #f5d5fb;
$color-purple-5: #f8e3fd;
$color-purple-6: #faedfd;
$color-purple-7: #fdf5ff;
$color-purple-8: #fefaff;

//grape
$color-grape--4: #2e0e4e;
$color-grape--3: #4c2277;
$color-grape--2: #662f9d;
$color-grape--1: #7339ac;
$color-grape-0: #8040bf;
$color-grape-1: #ad71ea;
$color-grape-2: #c494f4;
$color-grape-3: #e5d0fb;
$color-grape-4: #eddbff;
$color-grape-5: #f2e5ff;
$color-grape-6: #f6f0ff;
$color-grape-7: #faf5ff;
$color-grape-8: #fcfaff;

//violet
$color-violet--4: #1f1264;
$color-violet--3: #39288a;
$color-violet--2: #4e38bc;
$color-violet--1: #573fcf;
$color-violet-0: #634eca;
$color-violet-1: #917ef1;
$color-violet-2: #aba2fb;
$color-violet-3: #dcd6ff;
$color-violet-4: #e3e0ff;
$color-violet-5: #eeebff;
$color-violet-6: #f3f0ff;
$color-violet-7: #f7f5ff;
$color-violet-8: #fbfaff;

//blue
$color-blue--4: #05205e;
$color-blue--3: #113997;
$color-blue--2: #1e50c0;
$color-blue--1: #2759cd;
$color-blue-0: #3062d4;
$color-blue-1: #6792f4;
$color-blue-2: #8db0fb;
$color-blue-3: #cdddff;
$color-blue-4: #d7e4ff;
$color-blue-5: #e6eeff;
$color-blue-6: #edf2ff;
$color-blue-7: #f5f8ff;
$color-blue-8: #fafbff;

//cyan
$color-cyan--4: #002742;
$color-cyan--3: #0c456e;
$color-cyan--2: #165b8d;
$color-cyan--1: #1b679d;
$color-cyan-0: #0870ba;
$color-cyan-1: #5699dc;
$color-cyan-2: #79bcf6;
$color-cyan-3: #c2e3ff;
$color-cyan-4: #cce7ff;
$color-cyan-5: #e0f1ff;
$color-cyan-6: #ebf5ff;
$color-cyan-7: #f0f9ff;
$color-cyan-8: #fafdff;

//teal
$color-teal--4: #012a37;
$color-teal--3: #0a495c;
$color-teal--2: #196076;
$color-teal--1: #196c85;
$color-teal-0: #077597;
$color-teal-1: #4f9eba;
$color-teal-2: #7ac0dc;
$color-teal-3: #b8e8f5;
$color-teal-4: #c5ecf7;
$color-teal-5: #e0f3fa;
$color-teal-6: #e8f7fc;
$color-teal-7: #f0fbff;
$color-teal-8: #fafeff;

//aquamarine
$color-aquamarine--4: #012d26;
$color-aquamarine--3: #0d4a42;
$color-aquamarine--2: #15655a;
$color-aquamarine--1: #1a7061;
$color-aquamarine-0: #097c69;
$color-aquamarine-1: #3da497;
$color-aquamarine-2: #6ec9bf;
$color-aquamarine-3: #bee9e4;
$color-aquamarine-4: #c5f2ec;
$color-aquamarine-5: #daf6f3;
$color-aquamarine-6: #e2f8f5;
$color-aquamarine-7: #f0faf9;
$color-aquamarine-8: #fbfefe;

//green
$color-green--4: #062d1b;
$color-green--3: #0e4e30;
$color-green--2: #196742;
$color-green--1: #1e714a;
$color-green-0: #1d7c4d;
$color-green-1: #4aa578;
$color-green-2: #75cc9e;
$color-green-3: #c2ebd5;
$color-green-4: #c6f1da;
$color-green-5: #d8f8e7;
$color-green-6: #e6f9ef;
$color-green-7: #f4fbf7;
$color-green-8: #fbfefc;

//emerald
$color-emerald--4: #0a2e0b;
$color-emerald--3: #135315;
$color-emerald--2: #246626;
$color-emerald--1: #2f6f2f;
$color-emerald-0: #347434;
$color-emerald-1: #55a555;
$color-emerald-2: #87c987;
$color-emerald-3: #c6ecc6;
$color-emerald-4: #cff2cf;
$color-emerald-5: #dff6df;
$color-emerald-6: #e6f9e6;
$color-emerald-7: #f4fbf4;
$color-emerald-8: #fbfefb;

//orange
$color-orange--4: #482909;
$color-orange--3: #7a4510;
$color-orange--2: #a05c1c;
$color-orange--1: #b4610e;
$color-orange-0: #f59638;
$color-orange-1: #f6a351;
$color-orange-2: #feb872;
$color-orange-3: #ffd4a8;
$color-orange-4: #fcdec0;
$color-orange-5: #ffe8d1;
$color-orange-6: #fff0e0;
$color-orange-7: #fff5eb;
$color-orange-8: #fffcfa;

//brand
$color-brand--4: $color-blue--4;
$color-brand--3: $color-blue--3;
$color-brand--2: $color-blue--2;
$color-brand--1: $color-blue--1;
$color-brand-0: $color-blue-0;
$color-brand-1: $color-blue-1;
$color-brand-2: $color-blue-2;
$color-brand-3: $color-blue-3;
$color-brand-4: $color-blue-4;
$color-brand-5: $color-blue-5;
$color-brand-6: $color-blue-6;
$color-brand-7: $color-blue-7;
$color-brand-8: $color-blue-8;

//neutral
$color-neutral--4: $color-cool-grey--4;
$color-neutral--3: $color-cool-grey--3;
$color-neutral--2: $color-cool-grey--2;
$color-neutral--1: $color-cool-grey--1;
$color-neutral-0: $color-cool-grey-0;
$color-neutral-1: $color-cool-grey-1;
$color-neutral-2: $color-cool-grey-2;
$color-neutral-3: $color-cool-grey-3;
$color-neutral-4: $color-cool-grey-4;
$color-neutral-5: $color-cool-grey-5;
$color-neutral-6: $color-cool-grey-6;
$color-neutral-7: $color-cool-grey-7;
$color-neutral-8: $color-cool-grey-8;

//neutral-alpha
$color-neutral-alpha--4: $color-cool-grey-alpha--4;
$color-neutral-alpha--3: $color-cool-grey-alpha--3;
$color-neutral-alpha--2: $color-cool-grey-alpha--2;
$color-neutral-alpha--1: $color-cool-grey-alpha--1;
$color-neutral-alpha-0: $color-cool-grey-alpha-0;
$color-neutral-alpha-1: $color-cool-grey-alpha-1;
$color-neutral-alpha-2: $color-cool-grey-alpha-2;
$color-neutral-alpha-3: $color-cool-grey-alpha-3;
$color-neutral-alpha-4: $color-cool-grey-alpha-4;
$color-neutral-alpha-5: $color-cool-grey-alpha-5;
$color-neutral-alpha-6: $color-cool-grey-alpha-6;
$color-neutral-alpha-7: $color-cool-grey-alpha-7;
$color-neutral-alpha-8: $color-cool-grey-alpha-8;

//informative
$color-informative--4: $color-blue--4;
$color-informative--3: $color-blue--3;
$color-informative--2: $color-blue--2;
$color-informative--1: $color-blue--1;
$color-informative-0: $color-blue-0;
$color-informative-1: $color-blue-1;
$color-informative-2: $color-blue-2;
$color-informative-3: $color-blue-3;
$color-informative-4: $color-blue-4;
$color-informative-5: $color-blue-5;
$color-informative-6: $color-blue-6;
$color-informative-7: $color-blue-7;
$color-informative-8: $color-blue-8;

//positive
$color-positive--4: $color-green--4;
$color-positive--3: $color-green--3;
$color-positive--2: $color-green--2;
$color-positive--1: $color-green--1;
$color-positive-0: $color-green-0;
$color-positive-1: $color-green-1;
$color-positive-2: $color-green-2;
$color-positive-3: $color-green-3;
$color-positive-4: $color-green-4;
$color-positive-5: $color-green-5;
$color-positive-6: $color-green-6;
$color-positive-7: $color-green-7;
$color-positive-8: $color-green-8;

//warning
$color-warning--4: $color-orange--4;
$color-warning--3: $color-orange--3;
$color-warning--2: $color-orange--2;
$color-warning--1: $color-orange--1;
$color-warning-0: $color-orange-0;
$color-warning-1: $color-orange-1;
$color-warning-2: $color-orange-2;
$color-warning-3: $color-orange-3;
$color-warning-4: $color-orange-4;
$color-warning-5: $color-orange-5;
$color-warning-6: $color-orange-6;
$color-warning-7: $color-orange-7;
$color-warning-8: $color-orange-8;

//negative
$color-negative--4: $color-red--4;
$color-negative--3: $color-red--3;
$color-negative--2: $color-red--2;
$color-negative--1: $color-red--1;
$color-negative-0: $color-red-0;
$color-negative-1: $color-red-1;
$color-negative-2: $color-red-2;
$color-negative-3: $color-red-3;
$color-negative-4: $color-red-4;
$color-negative-5: $color-red-5;
$color-negative-6: $color-red-6;
$color-negative-7: $color-red-7;
$color-negative-8: $color-red-8;

//content color
$color-content-primary: $color-neutral--3;
$color-content-secondary: $color-neutral-0;
$color-content-tertiary: $color-neutral-1;
$color-content-disable: $color-neutral-2;

$color-content-inverted-primary: $color-white-alpha-0;
$color-content-inverted-secondary: $color-white-alpha--4;
$color-content-inverted-tertiary: $color-white-alpha--5;
$color-content-inverted-disable: $color-white-alpha--6;

$color-content-informative-primary: $color-informative--3;
$color-content-informative-secondary: $color-informative-0;

$color-content-positive-primary: $color-positive--3;
$color-content-positive-secondary: $color-positive-0;

$color-content-warning-primary: $color-warning--3;
$color-content-warning-secondary: $color-warning-0;

$color-content-negative-primary: $color-negative--3;
$color-content-negative-secondary: $color-negative-0;

$color-content-brand-primary: $color-brand--3;
$color-content-brand-secondary: $color-brand-0;

//border color
$color-border-default: $color-neutral-5;
$color-border-default-alpha: $color-neutral-alpha-5;
$color-border-inverted: $color-white-alpha-0;

$color-border-neutral-strong: $color-neutral-0;
$color-border-neutral-subtle: $color-neutral-3;

$color-border-informative-strong: $color-informative-0;
$color-border-informative-subtle: $color-informative-3;

$color-border-positive-strong: $color-positive-0;
$color-border-positive-subtle: $color-positive-3;

$color-border-warning-strong: $color-warning-0;
$color-border-warning-subtle: $color-warning-3;

$color-border-negative-strong: $color-negative-0;
$color-border-negative-subtle: $color-negative-3;

$color-border-brand-strong: $color-brand-0;
$color-border-brand-subtle: $color-brand-3;

//background color
$color-background-default: $color-white-alpha-0;
$color-background-inverted: $color-neutral--3;

$color-background-neutral-strong: $color-neutral-0;
$color-background-neutral-muted: $color-neutral-4;
$color-background-neutral-on-subtle: $color-neutral-5;
$color-background-neutral-subtle: $color-neutral-7;
$color-background-neutral-surface: $color-neutral-8;

$color-background-informative-strong: $color-informative-0;
$color-background-informative-muted: $color-informative-4;
$color-background-informative-on-subtle: $color-informative-5;
$color-background-informative-subtle: $color-informative-7;
$color-background-informative-surface: $color-informative-8;

$color-background-positive-strong: $color-positive-0;
$color-background-positive-muted: $color-positive-4;
$color-background-positive-on-subtle: $color-positive-5;
$color-background-positive-subtle: $color-positive-7;
$color-background-positive-surface: $color-positive-8;

$color-background-warning-strong: $color-warning-0;
$color-background-warning-muted: $color-warning-4;
$color-background-warning-on-subtle: $color-warning-5;
$color-background-warning-subtle: $color-warning-7;
$color-background-warning-surface: $color-warning-8;

$color-background-negative-strong: $color-negative-0;
$color-background-negative-muted: $color-negative-4;
$color-background-negative-on-subtle: $color-negative-5;
$color-background-negative-subtle: $color-negative-7;
$color-background-negative-surface: $color-negative-8;

$color-background-brand-strong: $color-brand-0;
$color-background-brand-muted: $color-brand-4;
$color-background-brand-on-subtle: $color-brand-5;
$color-background-brand-subtle: $color-brand-7;
$color-background-brand-surface: $color-brand-8;

//action color
$color-action-primary-normal: $color-brand-0;
$color-action-primary-hover: $color-brand--2;
$color-action-primary-active: $color-brand--3;
$color-action-primary-selected: $color-brand--2;
$color-action-primary-subtle-normal: $color-brand-6;
$color-action-primary-subtle-hover: $color-brand-5;
$color-action-primary-subtle-active: $color-brand-3;
$color-action-primary-subtle-selected: $color-brand-5;

$color-action-neutral-normal: $color-neutral--1;
$color-action-neutral-hover: $color-neutral--2;
$color-action-neutral-active: $color-neutral--3;
$color-action-neutral-selected: $color-neutral--2;
$color-action-neutral-subtle-normal: $color-neutral-6;
$color-action-neutral-subtle-hover: $color-neutral-5;
$color-action-neutral-subtle-active: $color-neutral-3;
$color-action-neutral-subtle-selected: $color-neutral-5;

$color-action-success-normal: $color-positive-0;
$color-action-success-hover: $color-positive--2;
$color-action-success-active: $color-positive--3;
$color-action-success-selected: $color-positive--2;
$color-action-success-subtle-normal: $color-positive-6;
$color-action-success-subtle-hover: $color-positive-5;
$color-action-success-subtle-active: $color-positive-3;
$color-action-success-subtle-selected: $color-positive-5;

$color-action-destructive-normal: $color-negative-0;
$color-action-destructive-hover: $color-negative--2;
$color-action-destructive-active: $color-negative--3;
$color-action-destructive-selected: $color-negative--2;
$color-action-destructive-subtle-normal: $color-negative-6;
$color-action-destructive-subtle-hover: $color-negative-5;
$color-action-destructive-subtle-active: $color-negative-3;
$color-action-destructive-subtle-selected: $color-negative-5;

$color-action-ghost-normal: $color-transparent;
$color-action-ghost-hover: $color-neutral-alpha-6;
$color-action-ghost-active: $color-neutral-alpha-5;
$color-action-ghost-selected: $color-neutral-alpha-6;
$color-action-ghost-inverted-hover: $color-white-alpha--8;
$color-action-ghost-inverted-active: $color-white-alpha--7;
$color-action-ghost-inverted-selected: $color-white-alpha--8;
$color-action-ghost-destructive-hover: $color-negative-6;
$color-action-ghost-destructive-active: $color-negative-5;
$color-action-ghost-destructive-selected: $color-negative-6;

$color-action-outline-normal: $color-neutral-3;
$color-action-outline-hover: $color-neutral-2;
$color-action-outline-active: $color-neutral-1;
$color-action-outline-selected: $color-neutral-2;

$color-action-inverted-normal: $color-white-alpha-0;
$color-action-inverted-hover: $color-white-alpha--1;
$color-action-inverted-active: $color-white-alpha--2;
$color-action-inverted-selected: $color-white-alpha--1;

$color-action-reverse-inverted-normal: $color-neutral-alpha--3;
$color-action-reverse-inverted-hover: $color-neutral-alpha--1;
$color-action-reverse-inverted-active: $color-neutral-alpha-0;
$color-action-reverse-inverted-selected: $color-neutral-alpha--1;

:export {
  ContentPrimary: $color-content-primary;
  ContentSecondary: $color-content-secondary;
  ContentTertiary: $color-content-tertiary;
  ContentDisable: $color-content-disable;
  ContentInvertedPrimary: $color-content-inverted-primary;
  ContentInvertedSecondary: $color-content-inverted-secondary;
  ContentInvertedTertiary: $color-content-inverted-tertiary;
  ContentInvertedDisable: $color-content-inverted-disable;
  ContentInformativePrimary: $color-content-informative-primary;
  ContentInformativeSecondary: $color-content-informative-secondary;
  ContentPositivePrimary: $color-content-positive-primary;
  ContentPositiveSecondary: $color-content-positive-secondary;
  ContentWarningPrimary: $color-content-warning-primary;
  ContentWarningSecondary: $color-content-warning-secondary;
  ContentNegativePrimary: $color-content-negative-primary;
  ContentNegativeSecondary: $color-content-negative-secondary;
  ContentBrandPrimary: $color-content-brand-primary;
  ContentBrandSecondary: $color-content-brand-secondary;
  BorderDefault: $color-border-default;
  BorderDefaultAlpha: $color-border-default-alpha;
  BorderInverted: $color-border-inverted;
  BorderNeutralStrong: $color-border-neutral-strong;
  BorderNeutralSubtle: $color-border-neutral-subtle;
  BorderInformativeStrong: $color-border-informative-strong;
  BorderInformativeSubtle: $color-border-informative-subtle;
  BorderPositiveStrong: $color-border-positive-strong;
  BorderPositiveSubtle: $color-border-positive-subtle;
  BorderWarningStrong: $color-border-warning-strong;
  BorderWarningSubtle: $color-border-warning-subtle;
  BorderNegativeStrong: $color-border-negative-strong;
  BorderNegativeSubtle: $color-border-negative-subtle;
  BorderBrandStrong: $color-border-brand-strong;
  BorderBrandSubtle: $color-border-brand-subtle;
  BackgroundDefault: $color-background-default;
  BackgroundInverted: $color-background-inverted;
  BackgroundNeutralStrong: $color-background-neutral-strong;
  BackgroundNeutralMuted: $color-background-neutral-muted;
  BackgroundNeutralOnSubtle: $color-background-neutral-on-subtle;
  BackgroundNeutralSubtle: $color-background-neutral-subtle;
  BackgroundNeutralSurface: $color-background-neutral-surface;
  BackgroundInformativeStrong: $color-background-informative-strong;
  BackgroundInformativeMuted: $color-background-informative-muted;
  BackgroundInformativeOnSubtle: $color-background-informative-on-subtle;
  BackgroundInformativeSubtle: $color-background-informative-subtle;
  BackgroundInformativeSurface: $color-background-informative-surface;
  BackgroundPositiveStrong: $color-background-positive-strong;
  BackgroundPositiveMuted: $color-background-positive-muted;
  BackgroundPositiveOnSubtle: $color-background-positive-on-subtle;
  BackgroundPositiveSubtle: $color-background-positive-subtle;
  BackgroundPositiveSurface: $color-background-positive-surface;
  BackgroundWarningStrong: $color-background-warning-strong;
  BackgroundWarningMuted: $color-background-warning-muted;
  BackgroundWarningOnSubtle: $color-background-warning-on-subtle;
  BackgroundWarningSubtle: $color-background-warning-subtle;
  BackgroundWarningSurface: $color-background-warning-surface;
  BackgroundNegativeStrong: $color-background-negative-strong;
  BackgroundNegativeMuted: $color-background-negative-muted;
  BackgroundNegativeOnSubtle: $color-background-negative-on-subtle;
  BackgroundNegativeSubtle: $color-background-negative-subtle;
  BackgroundNegativeSurface: $color-background-negative-surface;
  BackgroundBrandStrong: $color-background-brand-strong;
  BackgroundBrandMuted: $color-background-brand-muted;
  BackgroundBrandOnSubtle: $color-background-brand-on-subtle;
  BackgroundBrandSubtle: $color-background-brand-subtle;
  BackgroundBrandSurface: $color-background-brand-surface;
  ActionPrimaryNormal: $color-action-primary-normal;
  ActionPrimaryHover: $color-action-primary-hover;
  ActionPrimaryActive: $color-action-primary-active;
  ActionPrimarySelected: $color-action-primary-selected;
  ActionPrimarySubtleNormal: $color-action-primary-subtle-normal;
  ActionPrimarySubtleHover: $color-action-primary-subtle-hover;
  ActionPrimarySubtleActive: $color-action-primary-subtle-active;
  ActionPrimarySubtleSelected: $color-action-primary-subtle-selected;
  ActionNeutralNormal: $color-action-neutral-normal;
  ActionNeutralHover: $color-action-neutral-hover;
  ActionNeutralActive: $color-action-neutral-active;
  ActionNeutralSelected: $color-action-neutral-selected;
  ActionNeutralSubtleNormal: $color-action-neutral-subtle-normal;
  ActionNeutralSubtleHover: $color-action-neutral-subtle-hover;
  ActionNeutralSubtleActive: $color-action-neutral-subtle-active;
  ActionNeutralSubtleSelected: $color-action-neutral-subtle-selected;
  ActionSuccessNormal: $color-action-success-normal;
  ActionSuccessHover: $color-action-success-hover;
  ActionSuccessActive: $color-action-success-active;
  ActionSuccessSelected: $color-action-success-selected;
  ActionSuccessSubtleNormal: $color-action-success-subtle-normal;
  ActionSuccessSubtleHover: $color-action-success-subtle-hover;
  ActionSuccessSubtleActive: $color-action-success-subtle-active;
  ActionSuccessSubtleSelected: $color-action-success-subtle-selected;
  ActionDestructiveNormal: $color-action-destructive-normal;
  ActionDestructiveHover: $color-action-destructive-hover;
  ActionDestructiveActive: $color-action-destructive-active;
  ActionDestructiveSelected: $color-action-destructive-selected;
  ActionDestructiveSubtleNormal: $color-action-destructive-subtle-normal;
  ActionDestructiveSubtleHover: $color-action-destructive-subtle-hover;
  ActionDestructiveSubtleActive: $color-action-destructive-subtle-active;
  ActionDestructiveSubtleSelected: $color-action-destructive-subtle-selected;
  ActionGhostNormal: $color-action-ghost-normal;
  ActionGhostHover: $color-action-ghost-hover;
  ActionGhostActive: $color-action-ghost-active;
  ActionGhostSelected: $color-action-ghost-selected;
  ActionGhostInvertedHover: $color-action-ghost-inverted-hover;
  ActionGhostInvertedActive: $color-action-ghost-inverted-active;
  ActionGhostInvertedSelected: $color-action-ghost-inverted-selected;
  ActionGhostDestructiveHover: $color-action-ghost-destructive-hover;
  ActionGhostDestructiveActive: $color-action-ghost-destructive-active;
  ActionGhostDestructiveSelected: $color-action-ghost-destructive-selected;
  ActionOutlineNormal: $color-action-outline-normal;
  ActionOutlineHover: $color-action-outline-hover;
  ActionOutlineActive: $color-action-outline-active;
  ActionOutlineSelected: $color-action-outline-selected;
  ActionInvertedNormal: $color-action-inverted-normal;
  ActionInvertedHover: $color-action-inverted-hover;
  ActionInvertedActive: $color-action-inverted-active;
  ActionInvertedSelected: $color-action-inverted-selected;
  ActionReverseInvertedNormal: $color-action-reverse-inverted-normal;
  ActionReverseInvertedHover: $color-action-reverse-inverted-hover;
  ActionReverseInvertedActive: $color-action-reverse-inverted-active;
  ActionReverseInvertedSelected: $color-action-reverse-inverted-selected;
}
