@mixin font($size, $weight) {
  font-family: Inter, -apple-system, BlinkMacSystemFont, Tahoma, Arial, 'Hiragino Sans GB', 'Microsoft YaHei',
    sans-serif;
  @if $weight == strong {
    font-weight: $font-weight-strong;
    letter-spacing: $font-letter-spacing-strong;
  }
  @if $weight == medium {
    font-weight: $font-weight-medium;
    letter-spacing: $font-letter-spacing-medium;
  }
  @if $weight == normal {
    font-weight: $font-weight-normal;
    letter-spacing: $font-letter-spacing-normal;
  }
  @if $size == 25 {
    font-size: $font-size-25;
    line-height: $font-lint-height-25;
  }
  @if $size == 50 {
    font-size: $font-size-50;
    line-height: $font-lint-height-50;
  }
  @if $size == 75 {
    font-size: $font-size-75;
    line-height: $font-lint-height-75;
  }
  @if $size == 100 {
    font-size: $font-size-100;
    line-height: $font-lint-height-100;
  }
  @if $size == 200 {
    font-size: $font-size-200;
    line-height: $font-lint-height-200;
  }
  @if $size == 300 {
    font-size: $font-size-300;
    line-height: $font-lint-height-300;
  }
  @if $size == 400 {
    font-size: $font-size-400;
    line-height: $font-lint-height-400;
  }
  @if $size == 500 {
    font-size: $font-size-500;
    line-height: $font-lint-height-500;
  }
  @if $size == 600 {
    font-size: $font-size-600;
    line-height: $font-lint-height-600;
  }
}

$font-weight-normal: 400;
$font-weight-medium: 450;
$font-weight-strong: 600;

$font-letter-spacing-normal: 0.2px;
$font-letter-spacing-medium: 0.2px;
$font-letter-spacing-strong: 0.1px;

$font-size-25: 10px;
$font-lint-height-25: 16px;

$font-size-50: 12px;
$font-lint-height-50: 20px;

$font-size-75: 14px;
$font-lint-height-75: 24px;

$font-size-100: 16px;
$font-lint-height-100: 28px;

$font-size-200: 18px;
$font-lint-height-200: 32px;

$font-size-300: 24px;
$font-lint-height-300: 36px;

$font-size-400: 32px;
$font-lint-height-400: 44px;

$font-size-500: 40px;
$font-lint-height-500: 56px;

$font-size-600: 48px;
$font-lint-height-600: 64px;
