@import 'src/styles/typography';

.font-underline {
  text-decoration-line: underline;
  cursor: pointer;
}

$sizeList: 25, 50, 75, 100, 200, 300, 400, 500, 600;

.font {
  @each $size in $sizeList {
    &-strong-#{$size} {
      @include font($size, strong);
    }
    &-medium-#{$size} {
      @include font($size, medium);
    }
    &-normal-#{$size} {
      @include font($size, normal);
    }
  }
}
