@import 'src/styles/color.module';

.alert {
  position: relative;
  width: 100%;
  height: 56px;
  &-normal {
    background-color: $color-background-neutral-strong;
  }
  &-success {
    background-color: $color-background-positive-strong;
  }
  &-warning {
    background-color: $color-background-warning-strong;
  }
  &-negative {
    background-color: $color-background-negative-strong;
  }
  &-close {
    position: absolute;
    top: 18px;
    right: 18px;
    cursor: pointer;
  }
}
