@import 'src/styles/color.module';

.divider {
  display: flex;
  flex-direction: column;
  padding: 16px;
  &-horizontal {
    height: 0;
    border-bottom: 1px solid $color-border-default;
    &-with-title {
      height: auto;
    }
  }
  &-vertical {
    width: 0;
    border-bottom: 1px solid $color-border-default;
    &-with-title {
      height: auto;
    }
  }
}
